Project_technical_information_02.odt
__pycache__/
logs/
nnUNet/
SamplePatient/
Ortho_App/New/
Ortho_App/data/New10/
Ortho_App/aad/
Ortho_App/blender.crash.txt
Ortho_App/gui_data.xlsx
Ortho_App/P1T1.stl
Ortho_App/generate_airway_images.py
Ortho_App/amatos(copy1)/
Ortho_App_0p2/
Ortho_App/P5T1
TestBlenderScript/
Ortho_App_0p1/
Ortho_App_backup/
